/* Шрифты */
/*
    sans-serif:
    - Arial,
    - Verdana,
    - Tahoma,
    - Trebuchet MS

    serif:
    - Times New Roman, 
    - Georgia
    - Garamond

    другие:
    - Courier New (monospace)
    - Brush Script MT (cursive)

fantasy
*/

/* Общие стили */
body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background-color: #7d7d83;
    color: black;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header {
    background-color: #10f01;
    color: red;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    font-family: 'fantasy;
}

p {
    line-height: 1.6;
}

/* Меню */
nav {
    margin-top: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu > li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu .dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: green;
    list-style: none;
    padding: 10px;
}

.submenu li {
    margin: 5px 0;
}

.submenu a {
    color: white;
}


.menu .down:hover .enu {
    display: block;
}

/* Основной контент */
main {
    padding: 20px;
}

.intro,
.video-section,
.services {
    margin-bottom: 20px;
}

.video-section video {
    display: block;
    margin: auto;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.enu {
    display: none;
    position: absolute;
    background-color: #blue;
    list-style: none;
    padding: 10px;
}
