/* Шрифты */
/*
    sans-serif:
    - Arial,
    - Verdana,
    - Tahoma,
    - Trebuchet MS

    serif:
    - Times New Roman, 
    - Georgia
    - Garamond

    другие:
    - Courier New (monospace)
    - Brush Script MT (cursive)
*/

/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4A460;
    color: #333;
}

header {
    background-color: #D2B48C;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
        z-index:100;
    
}

h1{
    font-family: 'Georgia', serif;
    color: #8B4513
        
}
h2 {
    font-family: 'Georgia', serif;
}

p {
    line-height: 1.6;
}

/* Меню */
nav {
    margin-top: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu > li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}
.dropdown a href{
    color: #8B4513
}
.menu .dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #D2B48C;
    list-style: none;
    padding: 10px;
}

.submenu li {
    margin: 5px 0;
}

.submenu a {
    color: white;
}

/* Основной контент */
main {
    padding: 20px;
}

.intro,
.video-section,
.services {
    margin-bottom: 20px;
}

.video-section video {
    display: block;
    margin: auto;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
